<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Duck 2 Play || 404</title>
  <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/5.3.0/css/bootstrap.min.css" />
  <script src="../webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  <style>
    :root{
      --bs-body-bg: #413f3b;
    }
  </style>
</head>
<body>
<div th:insert="~{_headerBs :: header}"></div>

<div class="container">
  <h1>Sry post wasn't found</h1>

</div>

</body>