<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Название игрового новостного сайта</title>
</head>
<body>
<header class="header">
    <div class="container">
        <h1 class="header__title">Название игрового новостного сайта</h1>
        <nav class="header__nav">
            <ul>
                <li><a th:href="@{'/'}">Home</a></li>
                <li><a th:href="@{'/register'}">Register</a></li>
                <li><a th:href="@{'/login'}">Login</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Обзоры</a></li>
                <li><a href="#">Игры</a></li>
                <li><a href="#">Релизы</a></li>
                <li><a href="#">Статьи</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
    <h5 th:text="'Author ' + ${post.account.username}">Author</h5>
    <h5 th:text="'Published on ' + ${post.createdAt}">Created At</h5>
    <p th:text="${post.body}">body text</p>
</div>
<ul sec:authorize="hasAuthority('ROLE_ADMIN')">
    <li><a th:href="@{'/posts/' + ${post.id} + '/edit/'}">Edit</a></li>
    <li><a th:href="@{'/posts/' + ${post.id} + '/delete/'}">Delete</a></li>
</ul>


</body>