<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Duck 2 Play || Home</title>
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/5.3.0/css/bootstrap.min.css" />
    <script src="../webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
</head>

<body>
<div th:insert="~{_headerBs :: header}"></div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Quiz</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <img src="https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-pc-screenshot-03-en-12oct21?$native$" class="card-img-top" alt="Новость 1">
                <div class="card-body">
                    <h5 class="card-title" th:action="@{'/getQuiz'}" th:object="${quiz}" th:method="GET" th:text="${quiz.title}">Question</h5>
                    <form th:action="@{/checkAnswerForQuiz}" th:method="POST">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <input type="hidden" th:field="*{quiz.id}">
                        <input type="hidden" th:field="*{quiz.title}">
                        <input type="hidden" th:field="*{quiz.answer}">
                        <input type="hidden" th:field="*{quiz.answerChoice}">
                        <input type="hidden" th:field="*{quiz.options}">
                        <label class="btn btn-secondary"><input type="radio" name="answerChoice" th:value="${quiz.getOptions().get(0)}" th:text="${quiz.getOptions().get(0)}"></label>
                        <label class="btn btn-secondary"><input type="radio" name="answerChoice" th:value="${quiz.getOptions().get(1)}" th:text="${quiz.getOptions().get(1)}"></label>
                        <label class="btn btn-secondary"><input type="radio" name="answerChoice" th:value="${quiz.getOptions().get(2)}" th:text="${quiz.getOptions().get(2)}"></label>
                        <label class="btn btn-secondary"><input type="radio" name="answerChoice" th:value="${quiz.getOptions().get(3)}" th:text="${quiz.getOptions().get(3)}"></label>
                    </div>
                    <p class="card-text" th:text="${quiz.answer}">Answer</p>
                        <button type="submit" class="btn btn-warning">Answer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



</body>