<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Название игрового новостного сайта</title>
</head>
<body>
<header class="header">
    <div class="container">
        <h1 class="header__title">Название игрового новостного сайта</h1>
        <nav class="header__nav">
            <ul>
                <li><a th:href="@{'/'}">Home</a></li>
                <li><a th:href="@{'/register'}">Register</a></li>
                <li><a th:href="@{'/login'}">Login</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Обзоры</a></li>
                <li><a href="#">Игры</a></li>
                <li><a href="#">Релизы</a></li>
                <li><a href="#">Статьи</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <h1>Register</h1>

    <form action="#" th:action="@{register}" th:object="${account}" th:method="POST">
        <div><label for="email">Email</label>
            <input id="email" type="text" placeholder="Email" th:field="*{email}">
        </div>

        <div><label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" th:field="*{password}">
        </div>

        <div><label for="username">UserName</label>
            <input id="username" type="text" placeholder="Username" th:field="*{username}">
        </div>

        <button type="submit">Register</button>
    </form>
</div>

</body>